[alias]
    st = status
[core]
    compression = 0
    editor = vim
[help]
    autocorrect = 1
[merge]
    tool = opendiff
[push]
    default = current
[user]
    email = megatolya@yandex-team.ru
    name = Anatoly Ostrovsky
