[core]
    compression = 0
    editor = vim
[help]
    autocorrect = 1
[merge]
    tool = opendiff
[push]
    default = current
[user]
    email = forgetthisbox@gmail.com
    name = Anatoly Ostrovsky
